{% extends 'index/index.html.twig' %}   
{% block script %}
    {{ parent() }}
    <script src="../../scripts/jquery-ui.js"></script>
    <script src="../../scripts/menuDropdown.js"></script>    
    <script src="../../vendors/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../scripts/alimentosVencidos.js"></script>
    <script src='../../scripts/highcharts/highcharts.js'></script>
    <script src="../../scripts/highcharts/modules/exporting.js"></script>
    <script src="../../scripts/diagramaBarras.js"></script>
    <script src="../../scripts/diagramaTorta.js"></script>    

{% endblock %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="../../styles/formulario.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../../styles/jquery-ui.css">
{% endblock %} 

{% block contenido %}
    {% block error %}
        {% if error%}
            <h4 id="error"><img src="../../images/error.png">{{error}}<br><br>
            </h4>
            <br><br>
        {% endif %} 
    {% endblock %}  
    <div class="row">
        <div class="col-md-12">
            <h4>Cantidad de alimentos entregados a entidades receptoras:</h4><br> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" method='POST' action='{{host}}estadisticas/generarPDFtotalAlimentos' target="_blank" onsubmit='return validarPDF1();'>
                <div class="row">
                    <div class="col-md-1">
                        <label for="fechaInicio">Desde:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control datepicker" id="fechaInicio" name="fechaInicio">
                    </div>
                    <div class="col-md-1">
                        <label for="fechaFin">Hasta:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control  datepicker" id="fechaFin" name="fechaFin"><br><br>       
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-primary" type='submit' id="pdf1">Generar PDF</button>
                            <button href="#diagramaBarras" type='button' class="btn btn-primary" id="boton">Graficar</button>
                            <button href="#tablaTotalKgs"  type='button' class="btn btn-primary" id="botonListado1">Mostrar listado</button>
                        </div>
                    </div>
                </div>
            </form> 
        </div>                
    </div>

    <div class="row">
        <div class="col-md-12" id="diagramaBarras" style='width:100%; height:400px;'hidden></div>   
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="listado1" hidden>
                <table id="tablaTotalKgs">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Kgs entregados</th>
                        </tr>
                    </thead>            
                </table>        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Cantidad de alimentos entregados a cada entidad receptora:</h4><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" method='POST' action='{{host}}estadisticas/generarPDFporEntidad' target="_blank" onsubmit='return validarPDF2();'>
                <div class="row">
                    <div class="col-md-1">
                        <label for="fechaInicio2">Desde:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control datepicker" id="fechaInicio2" name="fechaInicio2">
                    </div>
                    <div class="col-md-1">
                        <label for="fechaFin2">Hasta:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control datepicker" id="fechaFin2" name="fechaFin2"><br><br>       
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type='submit' class="btn btn-primary" id="pdf2">Generar PDF</button>
                            <button type="button" class="btn btn-primary" href="#diagramaTorta" id="boton2">Graficar</button>
                            <button type="button" class="btn btn-primary" href="#tablaKgsEntidad" id="botonListado2">Mostrar listado</button>           
                        </div>    
                    </div>    
            </form>
        </div>
    </div>

    <div class="row">
        <div class="div col-md-12">
            <div id="diagramaTorta" style='width:100%; height:400px;'hidden></div> 
        </div>
    </div>
    <div class="row">
        <div class="div col-md-12">

            <div id="listado2" hidden>
                <table id="tablaKgsEntidad">
                    <thead>
                        <tr>
                            <th>Entidad</th>
                            <th>Kgs entregados</th>
                        </tr>
                    </thead>            
                </table>
            </div> 
        </div> 
    </div> 
    <div class="row">
        <div class="div col-md-12">
            <h4>Alimentos vencidos sin entregar:</h4><br> 
        </div> 
    </div>

    <div class="row">
        <div class="div col-md-12">
            <table id="tablaVencidos">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Fecha de vencimiento</th>
                        <th>Stock</th>
                    </tr>
                </thead>            
            </table>
        </div>
    </div>
{% endblock %}