{% extends 'index/index.html.twig' %}   

{% block style %}    
    {{ parent() }}
    <link rel="stylesheet" href="../../styles/tablas.css" type="text/css" media="all">
{% endblock %}

{% block contenido %}
    {% if session.accesoView('admin') %}
        <div  class="row">
            <div  class="col-md-1">
                <a  class="btn btn-second" href="{{host}}entidad/alta"><img src="../../images/add.png" alt="nueva entidad"> Nueva Entidad Receptora</a><br><br><br>
            </div>
        </div>
    {% endif %}
    {% if mensaje != '' %}
        <h4 id="mensajeExito"><img src="../../images/ok.png" alt="ok"> {{ mensaje }} </h4>
        {% endif %}
    <div  class="row">
        <div  class="col-md-12">
            <table id="table" class="table table-responsive table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-center">Raz&oacute;n Social</th>                    
                        <th class="text-center">Estado</th>
                        <th class="text-center">Servicio prestado</th>
                            {% if session.accesoView('gestion') %}
                            <th class="text-center"></th>
                            <th class="text-center"> Acciones </th>
                            <th class="text-center"></th>
                            {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for entidad in entidades %}
                        {% if entidad.baja == 0 %}
                            <tr class="alt">
                                <td>{{ entidad.razon_social }}</td>                            
                                <td>{{ entidad.estado }}</td>                   
                                <td>{{ entidad.servicio }}</td>
                                {% if session.get('autenticado') %}
                                    {% if session.accesoView('gestion') %}
                                        <td><a href="{{host}}entidad/detalle/{{ entidad.id }}"><img src="../../images/preview.png" alt="detalle">Detalle</a></td> 
                                        <td><a href="{{host}}entidad/modificar/{{ entidad.id }}&amp;m=c&{{token_id}}={{token}}"><img src="../../images/edit.png" alt="modificar">Modificar</a></td>
                                        <td><a href="{{host}}entidad/eliminar/{{ entidad.id }}&amp;m=b&{{token_id}}={{token}}" onclick="return confirm('seguro que desea eliminar esta entidad receptora?')"><img src="../../images/delete.png" alt="modificar">Eliminar</a></td> 
                                            {% endif %}
                                        {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}