{% extends 'index/index.html.twig' %}   
{% block script %}
    {{ parent() }}
{% endblock %}
{% block style %}
    {{ parent() }}
{% endblock %} 

{% block contenido %}
    {% set i = 0 %}
    {% block error %}
        {% if error%}
   <h4 id="error"><img src="../../images/error.png">{{ error }}<br><br>
                    {{ entrega_directa.errores['pedidos'] }}<br> 
                    {{ entrega_directa.errores['entidad'] }}<br>
                    {{ entrega_directa.errores['cantidad'] }}<br>
                    <br>   
            </h4>
            <br><br>
        {% endif %} 
    {% endblock %}  
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form id="formAltaEntregaDirecta" role="form" method="POST" action="{{host}}entregadirecta/alta">
                <table id="table" class="table table-responsive table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Contenido</th>
                            <th class="text-center">Vencimiento</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Seleccion</th>
                        </tr>
                    </thead>             
                    <tbody>
                    {% for alimento in pedidos %}
                        <tr>
                        <td>{{alimento.alimento_codigo}}</td>
                        <td>{{alimento.contenido}}</td>
                        <td>{{alimento.fecha_vencimiento}}</td>
                        <td>{{alimento.stock}}</td>
                            <td><input type="number" id="stockPedido" placeholder="0" min="0" max="{{alimento.stock}}" name="detalles[{{i}}][cantidad]"></td> 
                            <td><input type="checkbox" id="seleccionado" name="detalles[{{i}}][id]" value="{{alimento.id}}"></td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %} 
                    </tbody>
                </table>
                <br>
 
                <div class="form-group">
                    <label for="exampleInputEmail1">Entidad receptora:</label>
                    <select class="form-control" id="estado_entidad_id" name="params[entidad_receptora_id]">
                    {% for entidad in entidades %}
                        {% if entidad.baja == 0 %}
                            <option value="{{entidad.id}}">{{entidad.razon_social}}</option>
                        {% endif%}
                    {% endfor %}
                    </select>
                </div>   
  
                    <button class="btn btn-primary" type="submit">Enviar</button><br>
                <input type="hidden" name="{{token_id}}" value="{{token}}">
            </form>
        </div>
    </div>
{% endblock %}
